# Dnsmasq configuration
{{ ansible_managed | comment }}

interface={{ ansible_default_ipv4.interface }}

bogus-priv
expand-hosts
{% if dnsmasq__domain is defined %}
domain={{ dnsmasq__domain }}
local=/{{ dnsmasq__domain }}/
{% endif %}

domain-needed
no-resolv
no-poll

{% if dnsmasq__dnssec %}
dnssec
dnssec-check-unsigned
conf-file=/usr/share/dnsmasq-base/trust-anchors.conf
{% endif %}

no-hosts
{% if dnsmasq__addn_hosts is defined and dnsmasq__addn_hosts|length %}
addn-hosts=/etc/hosts.dnsmasq
{% endif %}

{% if dnsmasq__cnames is defined and dnsmasq__cnames|length %}
{% for cname in dnsmasq__cnames %}
cname={{ cname['cname'] }},{{ cname['target'] }}
{% endfor %}
{% endif %}

{% if dnsmasq__upstream_servers is defined %}
{% for server in dnsmasq__upstream_servers %}
server={{ server }}
{% endfor %}
{% endif %}
{% if dnsmasq__strict_order %}
strict-order
{% endif %}

{% if dnsmasq__dhcp_authoritative %}
dhcp-authoritative
{% endif %}

{% if dnsmasq__dhcp_range is defined and dnsmasq__dhcp_range|length %}
dhcp-range={{ dnsmasq__dhcp_range['start_address'] }},{{ dnsmasq__dhcp_range['end_address'] }},{{ dnsmasq__dhcp_range['netmask'] }},{{ dnsmasq__dhcp_range['lease_time'] }}
{% endif %}

{% if dnsmasq__dhcp_hosts is defined and dnsmasq__dhcp_hosts|length %}
{% for host in dnsmasq__dhcp_hosts %}
dhcp-host={{ host['mac_address'] }},{{ host['fqdn'] }}
{% endfor %}
{% endif %}

dhcp-option=option:dns-server,{{ ansible_default_ipv4.address }}
dhcp-option=option:router,{{ ansible_default_ipv4.gateway }}
{% if dnsmasq__domain is defined %}
dhcp-option=option:domain-name,{{ dnsmasq__domain }}
dhcp-option=option:domain-search,{{ dnsmasq__domain }}
{% endif %}
